@import '../../style/settings.scss';


.footer{
    color: $textcolor2;
    position: absolute;
    bottom: -300%;
    left: 800px;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .footer{
        bottom: -330%;
        left: 290px;
        font-size: 1px;
        color: $backgroundcolor;
    }
}